body {
    text-align: center;
}

#canvas{
    background-color: rgb(216, 216, 216);
    position: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    /* background-image: url('./img/track.png'); */
}